.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.title {
  font-size: 3rem;
  color: #f1bd0e;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 2rem;
}

.button {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  background-color: #f1bd0e;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 160px;
}

.button:hover {
  background-color: rgb(20, 19, 19);
  color: #f1bd0e;
}

.language {
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: black;
  background-color: #f1bd0e;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 160px;
  
}

.language:hover {
  background-color: rgb(20, 19, 19);
  color: #f1bd0e;
}


